
.table-offRecord table{width:100%; border-left:#C8BArrayAE solid 1px;border-top:#C8BArrayAE solid 1px;border-collapse:collapse;} 
.table-offRecord td{text-align:left;height:24px;line-height:24px;border:1px solid #ccc;padding:2px;}
.table-offRecord th{border:1px solid #CCC;background:#EFF7FF;font-weight:normal;}
