@CHARSET "UTF-8";
.Menubox i{font-style: normal; float:right;}
.Menubox i span{}
.Menubox i span.ywc{background:url(../../../../images/btn/calendar.png) no-repeat}
.Menubox i span.dws{background:url(../../../../images/btn/calendar_edit.png) no-repeat}
.person_record_todo{
	background:url(../../../../images/btn/calendar_edit.png) no-repeat left -2px;padding-left:20px;
}
.person_recoed_complete{
	background:url(../../../../images/btn/calendar.png) no-repeat left -2px;padding-left:20px;
}
