<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
p{text-indent:2em;}
</style>
</head>

<body>
<div>
您正在通过邮箱找回银川市医疗卫生公众服务平台登陆密码，动态验证码:${cfg.get("CHECK_CODE")}
【银川市医疗卫生公共服务网】
</div>
</body>
</html>
