.table-01{width:99%;height:auto; overflow:auto;clear:both;vertical-align:middle;margin: 3px 5px 0px 5px;}
.table-01 table{width:100%; border-left:#C8BArrayAE solid 1px;border-top:#C8BArrayAE solid 1px;border-collapse:collapse;}
.table-01 td{text-align:left;height:24px;line-height:24px;border:1px solid #ccc;padding-left:2px;}
.table-01 th{text-align:right;border:1px solid #CCC;background:#F2F2F2;font-weight:normal;}
.table-01 td.td_gray{background:#EEE;}
.table-01 td.h_top{background:#66B9DB; font-weight:bold;text-align:center;color:#FFF;width: 12%;}
.table-01 input.textClass{width: 60px;}

.tbody{width:100%;height:100%; overflow:auto;clear:both;vertical-align:middle;}
.tbody td{width:100%;height:100%; overflow:auto;clear:both;vertical-align:middle;text-align:left}
.tbody td.centerText{width:100%;height:100%; overflow:auto;clear:both;vertical-align:middle;text-align:center}

.table-td01{display:table;text-align:left;margin:0;padding:0;margin-bottom:3px;clear:both;}
.table-td01 li{float:left;margin-right:20px;height:18px;line-height:18px;margin-bottom:2px;}
.table-td01 li.mc{width:30px;margin-right:2px;}
.table-td01 li.name{width:100px;border-bottom:1px solid #BBB;}
.table-td01 li.time{width:100px;margin-right:7px;}
.table-td01 li.time input{height:15px;}
.table-td01 li.date{width:20px;}

.sttb{background-color: gray; display: none;}
.sttb tr{line-height: 3px; width: 30px;}
.sttb td{line-height: 30px; width: 30px;}

.text_table{width:80px;table-layout:fixed;border-collapse:collapse;word-wrap:break-word;word-break:break-all;}
.text_table td{width:50%;}
.text_table td.lefttop{border-right:1px solid #ccc;padding-bottom:2px;padding-right:2px;}
.text_table td.righttop{border-bottom:1px solid #ccc;padding-bottom:2px;padding-left:2px;}
.text_table td.leftbottom{border-top:1px solid #ccc;padding-top:2px;padding-right:2px;}
.text_table td.rightbottom{border-left:1px solid #ccc;padding-top:2px;padding-left:2px;}
.text_table td input{width:30px;height:30px;}

/* #person_record_table .listtrhover{ */
/* 	background: #A6D1FF!important; */
/* } */
/* #person_record_table .listtrselect{ */
/* 	background: #B3D7FF!important; */
/* } */
/* #person_record_table .offedperson{ */
/* 	background-color:#dedede; */
/* } */


