.h2 {
	font-size: 18px;
}
.red {
	color:red;
}
.font16{
	font-size:16px;
}
.font15{
	font-size:15px;
}
.font25{
	font-size:25px;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.border1 {
	border: 1px solid #dcdcdc;
}
.border2 {
	border: 1px solid #FFFFFF;
}
.border-jkda {
	border: 1px solid #518ABC;
}
.border-radius1 {
	 border-radius: 5px 6px 7px 8px;
}
a.jkda_a {
	color: #2F2F2F;
	text-decoration: underline;
	cursor: pointer;
}

a.jkda_a:active {
	color: #006699;
	text-decoration: none;
}

a.jkda_a:visited,a.jkda_a:link {
	text-decoration: none;
}
a.jkda_a:hover {
	color: #006699;
	text-decoration: underline;
}

.width10 {
	width: 10px;
}
.width100p {
	width: 100%
}
.width120 {
	width: 120px
}
.width130 {
	width: 130px
}
.width150 {
	width: 150px
}
.width180 {
	width: 180px
}
.width240 {
	width: 240px
}
.width280 {
	width: 280px
}
.width420 {
	width: 420px
}
.width600 {
	width: 600px
}
.width730 {
	width: 730px
}
.width750 {
	width: 750px
}
.width970 {
	width: 970px;
}
.height10 {
	height: 10px;
}
.height20 {
	height: 20px;
}
.height30 {
	height: 30px;
}
.height50 {
	height: 50px;
}
.height100 {
	height: 100px;
}
.height219 {
	height: 219px;
}
.height289 {
	height: 289px;
}
.height324 {
	height: 324px;
}
.height600 {
	height: 600px;
}
.margin-top4 {
	margin-top: 4px;
}
.margin-top6 {
	margin-top: 6px;
}
.margin-top8 {
	margin-top: 8px;
}
.margin-top10 {
	margin-top: 10px;
}
.margin-top15 {
	margin-top: 15px;
}
.margin-top20 {
	margin-top: 20px;
}
.margin-top25 {
	margin-top: 25px;
}
.margin-top30 {
	margin-top: 30px;
}
.margin-top40 {
	margin-top: 40px;
}
.margin-top45 {
	margin-top: 45px;
}
.margin-top50 {
	margin-top: 50px;
}
.margin-top55 {
	margin-top: 55px;
}
.margin-top60 {
	margin-top: 60px;
}
.margin-top65 {
	margin-top: 65px;
}
.margin-top70 {
	margin-top: 70px;
}
.margin-top80 {
	margin-top: 80px;
}
.margin-left5 {
	margin-left: 5px;
}
.margin-left10 {
	margin-left: 10px;
}
.margin-left20 {
	margin-left: 20px;
}
.margin-left30 {
	margin-left: 30px;
}
.margin-left40 {
	margin-left: 40px;
}
.margin-left50 {
	margin-left: 50px;
}
.margin-left55 {
	margin-left: 55px;
}
.margin-left60 {
	margin-left: 60px;
}
.margin-left-40 {
	margin-left: -40px;
}
.margin-left-50 {
	margin-left: -50px;
}
.margin-left-60 {
	margin-left: -60px;
}
.margin-left-65 {
	margin-left: -65px;
}
.margin-left-70 {
	margin-left: -70px;
}
.margin-left-75 {
	margin-left: -75px;
}
.margin-left-80 {
	margin-left: -80px;
}
.margin-left-600 {
	margin-left: -600px;
}
.margin-bottom20 {
	margin-bottom:20px;
}
.padding-top20 {
	padding-top:20px;
}
.padding-top30 {
	padding-top:30px;
}
.padding-top35 {
	padding-top:35px;
}
.padding-top40 {
	padding-top:40px;
}
.padding-top45 {
	padding-top:45px;
}
.padding-left40 {
	padding-left:40px;
}
.padding-left200 {
	padding-left: 200px;
}
.padding-left300 {
	padding-left: 300px;
}
.border-bottom {
	border:none !important;border-bottom:1px solid #bEbEDE !important;
}
.fl {
	float:left;
}
.fr {
	float:right;
}

.required {
	background-image: url(../images/required-field.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 10px;
}
input{
	outline: none;
}