<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
           http://www.springframework.org/schema/task 
           http://www.springframework.org/schema/task/spring-task-3.0.xsd
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd   
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
           http://www.springframework.org/schema/jdbc   
           http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           " default-autowire="byname" default-lazy-init="true">

    <aop:aspectj-autoproxy/>

    <context:annotation-config/>
    <context:component-scan base-package="com.founder.fasf.*"></context:component-scan>
    <context:component-scan base-package="com.founder.elb.*"></context:component-scan>
    <context:component-scan base-package="com.founder.rhip.*"></context:component-scan>


    <bean id="localeChangeInterceptor"  class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/common.properties</value>
            </list>
        </property>
    </bean>

    <!--JTA事务管理器-->
    <bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager">  
	    <property name="transactionManager">  
	        <bean class="com.atomikos.icatch.jta.UserTransactionManager" init-method="init" destroy-method="close">  
	            <property name="forceShutdown" value="true"/>
	        </bean>
	    </property>  
	    <property name="userTransaction">  
	        <bean class="com.atomikos.icatch.jta.UserTransactionImp">
                <property name="transactionTimeout" value="${jdbc.transactionTimeout}"/>
            </bean>
	    </property>  
	    <!-- <property name="allowCustomIsolationLevels" value="true"/> -->
	</bean>

    <!--默认JDBCTemplate -->
    <bean id="defaultJDBCTemplate" class="com.founder.fasf.aop.DefaultJDBCTemplate" >
        <property name="name" value="meiddbJDBCTemplate" />
    </bean>


    <!-- 数据源的Rdmdb Spring JDBC模板 -->
    <bean id="dataSourceRdmdb" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">  
	    <property name="uniqueResourcename" value="dataSourceRdmdb"/>  
	    <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>  
	    <property name="xaProperties">  
	        <props>  
	            <prop key="URL">${jdbc.url.a}</prop>  
	            <prop key="user">${jdbc.username.a}</prop>  
	            <prop key="password">${jdbc.password.a}</prop>  
	        </props>  
	    </property>  
	    <property name="minPoolSize" value="${jdbc.minPoolSize}" />
	    <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
		<property name="testQuery" value="select 1 from dual" />
	</bean> 

    <bean id="rdmdbJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceRdmdb" />
        </constructor-arg>
    </bean>

    <!-- 数据源的meiddb Spring JDBC模板 -->
    <bean id="dataSourceMeiddb" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">  
	    <property name="uniqueResourcename" value="dataSourceMeiddb"/>  
	    <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>  
	    <property name="xaProperties">  
	        <props>  
	            <prop key="URL">${jdbc.url.b}</prop>  
	            <prop key="user">${jdbc.username.b}</prop>  
	            <prop key="password">${jdbc.password.b}</prop>  
	        </props>  
	    </property>  
	    <property name="minPoolSize" value="${jdbc.minPoolSize}" />  
	    <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
	    <property name="testQuery" value="select 1 from dual" />
	</bean> 

    <bean id="meiddbJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceMeiddb" />
        </constructor-arg>
    </bean>

    <!--  数据源的rmsdb Spring JDBC模板-->
    <bean id="dataSourceRmsdb" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">  
	    <property name="uniqueResourcename" value="dataSourceRmsdb"/>  
	    <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>  
	    <property name="xaProperties">  
	        <props>  
	            <prop key="URL">${jdbc.url.c}</prop>  
	            <prop key="user">${jdbc.username.c}</prop>  
	            <prop key="password">${jdbc.password.c}</prop>  
	        </props>  
	    </property>  
	    <property name="minPoolSize" value="${jdbc.minPoolSize}" />  
	    <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
	    <property name="testQuery" value="select 1 from dual" />
	</bean> 

    <bean id="rmsdbJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceRmsdb" />
        </constructor-arg>
    </bean>

    <!-- 数据源的mdm Spring JDBC模板 -->
    <bean id="dataSourceMDM" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">  
	    <property name="uniqueResourcename" value="dataSourceMDM"/>  
	    <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>  
	    <property name="xaProperties">  
	        <props>  
	            <prop key="URL">${jdbc.url.d}</prop>  
	            <prop key="user">${jdbc.username.d}</prop>  
	            <prop key="password">${jdbc.password.d}</prop>  
	        </props>  
	    </property>  
	    <property name="minPoolSize" value="${jdbc.minPoolSize}" />  
	    <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />   
	    <property name="testQuery" value="select 1 from dual" />
	</bean> 

    <bean id="mdmJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceMDM" />
        </constructor-arg>
    </bean>

    <!-- 数据源的pcb Spring JDBC模板 -->
   <bean id="dataSourcePCBMDB" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourcename" value="dataSourcePCBMDB"/>
        <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="URL">${jdbc.url.e}</prop>
                <prop key="user">${jdbc.username.e}</prop>
                <prop key="password">${jdbc.password.e}</prop>
            </props>
        </property>
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <property name="testQuery" value="select 1 from dual" />
    </bean>

    <bean id="pcbJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourcePCBMDB" />
        </constructor-arg>
    </bean>
    
    <bean id="dataSourceDMD" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourcename" value="dataSourceDMD"/>
        <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="URL">${jdbc.url.f}</prop>
                <prop key="user">${jdbc.username.f}</prop>
                <prop key="password">${jdbc.password.f}</prop>
            </props>
        </property>
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <property name="testQuery" value="select 1 from dual" />
    </bean>

    <!-- 疾病控制 Spring JDBC模板 -->
    <bean id="dmdJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceDMD" />
        </constructor-arg>
    </bean>

    <bean id="dataSourceDCD" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourcename" value="dataSourceDCD"/>
        <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="URL">${jdbc.url.h}</prop>
                <prop key="user">${jdbc.username.h}</prop>
                <prop key="password">${jdbc.password.h}</prop>
            </props>
        </property>
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <property name="testQuery" value="select 1 from dual" />
    </bean>

    <!-- 疾病控制 Spring JDBC模板 -->
    <bean id="dcdJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceDCD" />
        </constructor-arg>
    </bean>

    <bean id="dataSourceIntegrateData" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourcename" value="dataSourceIntegrateData"/>
        <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="URL">${jdbc.url.tmp}</prop>
                <prop key="user">${jdbc.username.tmp}</prop>
                <prop key="password">${jdbc.password.tmp}</prop>
            </props>
        </property>
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <property name="testQuery" value="select 1 from dual" />
    </bean>
    
     <!-- 数据源的集成数据中间库 Spring JDBC模板 -->
    <bean id="integrateDataJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceIntegrateData" />
        </constructor-arg>
    </bean>
    
    <bean id="dataSourceWHCH" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourcename" value="dataSourceDMD"/>
        <property name="xaDataSourceClassname" value="oracle.jdbc.xa.client.OracleXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="URL">${jdbc.url.i}</prop>
                <prop key="user">${jdbc.username.i}</prop>
                <prop key="password">${jdbc.password.i}</prop>
            </props>
        </property>
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <property name="testQuery" value="select 1 from dual" />
    </bean>

    <!-- 妇幼保健 Spring JDBC模板 -->
    <bean id="whchJDBCTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourceWHCH" />
        </constructor-arg>
    </bean>
    
     <tx:annotation-driven transaction-manager="txManager"/>

    <task:scheduler id="taskScheduler"/>
    <task:executor id="taskExecutor" pool-size="1"/>
    <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>


    <!-- ======================   缓存   ======================= -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
            <value>classpath:config/ehcache.xml</value>
        </property>
    </bean>
    <bean id="ehCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cachename">
            <value>DEFAULT_CACHE</value>
        </property>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

</beans>