@charset "utf-8";
/* CSS Document */
a { text-decoration:none;color:#4a4a4a; cursor:pointer;}
a:focus {outline:none; -moz-outline:none;}
i{font-style: normal;}
s{text-decoration:none;}

.width100{width:100px;}
.width50{width:50px;}
.width30{width:30px;}
.saddlebrown{color:saddlebrown;}
.spanheight{height:10px;width:90%;}

/*<!--自适应宽度tab--开始-->	*/
	#con {FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 100%;float:left;}
	#tags {PADDING: 0px; MARGIN: 0px;HEIGHT: 28px;margin-top:5px;}
	#tags LI {BACKGROUND: url(../../images/btn/tagleft.gif) no-repeat left bottom; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 28px;}
	#tags LI A {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../../images/btn/tagright.gif) no-repeat right bottom; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #143853; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-DECORATION: none; font-weight:normal;width:108px;text-align:center;}
	#tags LI.emptyTag {BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px;}
	#tags LI.selectTag {BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 29px;}
	#tags LI.selectTag A {BACKGROUND-POSITION: right top; COLOR: #0A80AF; LINE-HEIGHT: 29px; HEIGHT: 29px; font-weight:bold;}
	#tagContent {
        /* border:1px solid #95c3d7; */
        PADDING: 1px;
        BACKGROUND-COLOR: #fff;
        border-top-right-radius: 4px;
        border-bottom-left-radius:4px;
        border-bottom-right-radius: 4px;

    }
	.tagContent {PADDING: 2px; DISPLAY: none; background-color:#fff; COLOR: #474747;}
	#tagContent DIV.selectTag {	DISPLAY: block;}

/*<!--自适应宽度短的tab--开始-->*/
#con {FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 100%;float:left;}
#tagsl {PADDING: 0px; MARGIN: 0px;HEIGHT: 28px;margin-top:5px;}
#tagsl LI {BACKGROUND: url(../../images/btn/tagleft.gif) no-repeat left bottom; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 28px;}
#tagsl LI A {PADDING-RIGHT: 2px; PADDING-LEFT:2px; BACKGROUND: url(../../images/btn/tagright.gif) no-repeat right bottom; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #143853; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-DECORATION: none; font-weight:normal;width:78px;text-align:center;}
#tagsl LI.emptyTag {BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px;}
#tagsl LI.selectTag {BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 29px;}
#tagsl LI.selectTag A {BACKGROUND-POSITION: right top; COLOR: #0A80AF; LINE-HEIGHT: 29px; HEIGHT: 29px; font-weight:bold;}
#tagContent {
    /* border:1px solid #95c3d7; */
    PADDING: 1px;
    BACKGROUND-COLOR: #fff;
    border-top-right-radius: 4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius: 4px;

}
.tagContent {PADDING: 2px; DISPLAY: none; background-color:#fff; COLOR: #474747;}
#tagContent DIV.selectTag {	DISPLAY: block;}

/*-------cutpage---------*/
.cutpage_list{height:28px;line-height:28px;padding:0px 12px 3px;background-color:#EEE;}
.page_list{position:absolute;height:36px;line-height:36px;}
.page_list i{left:2px;bottom:2px;font-style : normal }
.page_list s{right:2px;bottom:2px;margin-left:20px;text-decoration : none }

.cutpage{font-size:12px; font-family:Tahoma;text-align:right;margin:0; padding:0;}
.cutpage a{display:inline-block; background:url(../../images/cutpage_btn.png) left top no-repeat; height:22px; padding-left:5px; line-height:22px; text-decoration:none; margin:3px 3px 3px 0; vertical-align:middle;}
.cutpage a span{ background:url(../../images/cutpage_btn.png) right top no-repeat; padding-right:5px; display:inline-block; cursor:pointer; height:22px; line-height:22px;}

.cutpage a.current{background:url(../../images/cutpage_btn.png) left -44px no-repeat;}
.cutpage a.current span{background:url(../../images/cutpage_btn.png) right -44px no-repeat;}
.cutpage a:link,.cutpage a:visited{color:#0071B5;}
.cutpage a:hover{background-position:left -22px; color:#666;}
.cutpage a.current:hover{color:#666;}
.cutpage a:hover span{background-position:right -22px;}
.cutpage a.current:link,.cutpage a.current:visited{color:#0071B5;}

/*------button--------*/
.btn-div{text-align:center;margin:10px auto;}
.btn35 , .btn36
{
	width:100px;
	height:28px;
	line-height:26px;
	font-size:12px;
	color:#444;	
	background:url("../../images/btn/bg35.jpg") no-repeat left top;
	padding-bottom:4px;
	border:none;
}
.btn35 {background:url(../../images/btn/bg35.jpg) no-repeat left top;}
.btn36 {background:url(../../images/btn/bg35.jpg) no-repeat left -28px;}

/*---sm_bg---常熟项目UI------*/
#inquiry {width:180px;float:right;border:1px solid #CCC;background:url(../../images/h6-bg.gif) repeat-x top #FFF;margin-bottom:6px;}
#inquiry b {height:31px;line-height:35px;background:no-repeat left;padding-left:45px;color:#0D81AF; display:block;}
#inquiry b.jiandang{background:url(../../images/ico_1.gif) no-repeat left;}
#inquiry table{margin:5px;line-height:30px;}
#inquiry table select{width:100px;}

fieldset legend{font-weight:bold;}

.sm_bg{background:#E6E6E6;height:30px;line-height:30px;padding:5px 10px 5px 10px;}
.sm_bg b{ font-weight:normal;margin-right:10px;padding-left:20px;padding-top:1px;padding-bottom:1px;}
.sm_bg b.ka{background:url(../../images/btn/ka.png) no-repeat left 0px;}
.sm_bg b.lb{background:url(../../images/btn/lb.png) no-repeat left 0px;}
.sm_bg b.gk{background:url(../../images/btn/gk.png) no-repeat left 0px;}
.sm_bg b.mx{background:url(../../images/btn/mx.png) no-repeat left 0px;}
.sm_bg a:hover{color:red;}
.sm_bg a:focus{color:blue;} 

.sm_cnt{border:1px solid #e6e6e6;padding:6px 2px; display:block;margin-top:5px;overflow:hidden;float: left;margin: 5px;}
.sm_cnt table{border:1px solid #e6e6e6;width:248px;float:left; position:relative;margin-left:3px;margin-right:3px;margin-bottom:6px;}
.sm_cnt table td.xh{/* background:url(../../images/xh_bg.gif) repeat-x; */height:24px;line-height:24px;font-weight:bold; text-align:center;background-color: #e6e6e6;}
.sm_cnt table td fieldset{margin:5px;}

.sm_cnt table.no-border{border:none;margin:5px;margin-top:10px;}
.sm_cnt table.no-border th{ text-align:right;line-height:18px;font-weight:normal;}
.sm_cnt table.no-border td{ text-align:left;line-height:18px;}

.bq-yff{ position:absolute;left:0px;width:51px;height:32px;}
.sm-yqy , .sm-wqy , .sm-yjy{ position:absolute;right:8px;line-height:28px;font-weight:bold;padding-left:20px;}
.sm-yqy {background:url(../../images/btn/accept.png) no-repeat left 5px;}
.sm-wqy {background:url(../../images/btn/information.png) no-repeat left 5px;}
.sm-yjy {background:url(../../images/btn/exclamation.png) no-repeat left 5px;}



/*--------个人资料-----------*/
#main-search{margin-top:5px;margin-left:5px;}

#main-search .sm_bg{border:1px solid #CCC;margin-bottom:3px;}
.sm_bg a{padding:3px;}
.sm_bg a:hover{background:#EDF5F6;border:1px solid #fff;}
.sm_bg b.xinz{background:url(../../images/btn/add.png) no-repeat left 0px;}
.sm_bg b.xiug{background:url(../../images/btn/pencil.png) no-repeat left 0px;}
.sm_bg b.zhuanc{background:url(../../images/btn/bullet_go.png) no-repeat left 0px;}
.sm_bg b.zhux{background:url(../../images/btn/zhuxiao.png) no-repeat left 0px;}
.sm_bg b.henj{background:url(../../images/btn/liulanjl.png) no-repeat left 0px;}
.sm_bg b.liulanjl{background:url(../../images/btn/liulanjl.png) no-repeat left 0px;}
.sm_bg b.falibao{background:url(../../images/btn/heart.png) no-repeat left 0px;}
.sm_bg b.qxlibao{background:url(../../images/btn/heart_delete.png) no-repeat left 0px;}
.sm_bg b.qianyue{background:url(../../images/btn/qianyue.png) no-repeat left 0px;}
.sm_bg b.jieyue{background:url(../../images/btn/jieyue.png) no-repeat left 0px;}
.sm_bg b.shanc{background:url(../../images/btn/delete.png) no-repeat left 0px;}


#main-search #inquiry {clear:both;width:100%;}

.inquiry-bm {width:180px;float:right;border:1px solid #CCC;}
.inquiry-bm b{height:28px;line-height:28px;background:#DCDCDC;padding-left:25px;display:block;background:url(../../images/btn/zoom.png) no-repeat 5px center;border-bottom:1px solid #CCC;}
.inquiry-bm table {background:#fff;line-height:30px;margin:0;padding:0;}

#mainContent i{height:30px;line-height:30px;font-style: normal;}
#mainContent s{ text-decoration:none;margin-left:10px;}
#mainContent s span{margin-right:3px;}

.table_1{height:100%;overflow:hidden; overflow-x:auto;margin-top:6px;}

/*tab2菜单class*/ 
ul{ list-style:none;}
b.ka{background:url(../../images/btn/ka.png) no-repeat left 0px;padding-left:20px;}
b.lb{background:url(../../images/btn/lb.png) no-repeat left 0px;padding-left:20px;}
b.gk{background:url(../../images/btn/gk.png) no-repeat left 0px;padding-left:20px;}
b.mx{background:url(../../images/btn/mx.png) no-repeat left 0px;padding-left:20px;}
b.fm{background:url(../../images/btn/vcard_edit.png) no-repeat left -2px;padding-left:20px;}
b.jbxx{background:url(../../images/btn/jbxx_edit.png) no-repeat left -2px;padding-left:20px;}
b.grtjb{background:url(../../images/btn/grtjb_edit.png) no-repeat left -2px;padding-left:20px;}

.Menubox {   
width:100%;     
height:28px;   
line-height:28px;   
}   
.Menubox ul{   
margin:0px;   
padding:0px;   
}   
.Menubox li{   
 float:left;   
 display:block;   
 cursor:pointer;   
 width:120px;   
 text-align:center;   
 color:#4a4a4a;   
 font-weight:bold; 
 border-left:1px solid #ccc;
 border-right:1px solid #ccc;
 border-top:1px solid #ccc;
 }   
.Menubox li.hover{   
 padding:0px;   
 background:#D5EBFF;   
 width:100px;   
 border:1px solid #ccc;  
 border-bottom:none;    
 color:#0A80AF;   
 font-weight:bold;   
 height:27px;   
line-height:27px;   
}   
.Contentbox{   
 clear:both;   
 margin-top:0px;   
 border:1px solid #ccc;    
 text-align:center;   
 padding:2px;
 float:left;
}   
table.kapian{position:relative;border:1px solid #CCC;width:345px;margin:3px;float:left;}
table.kapian td.xh{background:url(../../images/xh_bg.gif) repeat-x;height:24px;line-height:24px;font-weight:bold; text-align:center;}
table.kapian td.text{padding-left:5px;text-align:left;line-height:26px;}
table.kapian td.img{text-align:center;}
table.kapian td.img img{width:100px;height:100px;}

.Menubox i{font-style: normal; float:right;}
.Menubox i a{margin-right:10px;padding-left:20px;}
.Menubox i a.ywc{background:url(../../images/btn/calendar.png) no-repeat left -2px;}
.Menubox i a.dws{background:url(../../images/btn/calendar_edit.png) no-repeat left -2px;}

i.pop_No{background:#EFF7FF;height:32px;line-height:32px;text-align:left;display:block;padding:0 5px;margin-bottom:10px;}
s.pop_No{text-decoration:none;float:right;margin-bottom:20px;}
s.pop_No input{width:15px;height:15px;line-height:15px;margin-left:2px;margin-right:2px;border:1px solid #CCC;}
i.pop_No a{float:right;margin-right:10px;padding-left:20px;}
i.pop_No a.dk{background:url(../../images/btn/drive_cd.png) no-repeat left 6px;}
i.pop_No a.bc{background:url(../../images/btn/disk.png) no-repeat left 6px;}

ul.add_gr_img{float:left;width:150px;text-align:center;}
ul.add_gr_img li{margin-bottom:10px;}
ul.add_gr_text{float:right;width:380px;text-align:left;border-left:0px solid #fff;}
ul.add_gr_text table{width:360px;}
ul.add_gr_text th{text-align:right; font-weight:normal;width:130px;}
ul.add_gr_text td{height:26px;line-height:26px;text-align:left;}
ul.add_gr_text td.b_line{border-bottom:1px solid #E6E6E6;}
ul.add_gr_text li{ font-size:24px;text-align:center;margin-bottom:20px; font-weight:bold;}
.pop_1 .Contentbox{width:645px;background:#FFF;}

.span_floatleft{float:left;margin-top: 5px;margin-bottom: 10px;}
.span_floatleft input{width:100px;}

.table-01{width:100%;height:100%; overflow:auto;clear:both;vertical-align:middle;}
.table-01{background:#FFF}
.table-01 table{width:100%; border-left:#C8BAAE solid 1px;border-top:#C8BAAE solid 1px;border-collapse:collapse;}
.table-01 td{text-align:left;height:24px;line-height:24px;border:1px solid #ccc;padding:2px;}
.table-01 th{border:1px solid #CCC;background:#EFF7FF;font-weight:normal;}
.table-01 td.td_gray{background:#EEE;}
.table-01 td.h_top{background:#66B9DB; font-weight:bold;text-align:center;color:#FFF;}

.table-td01{display:table;text-align:left;margin:0;padding:0;margin-bottom:3px;clear:both;}
.table-td01 li{float:left;margin-right:20px;height:18px;line-height:18px;margin-bottom:2px;}
.table-td01 li.mc{width:30px;margin-right:2px;}
.table-td01 li.name{width:100px;border-bottom:1px solid #BBB;}
.table-td01 li.time{width:100px;margin-right:7px;}
.table-td01 li.time input{height:15px;}
.table-td01 li.date{width:20px;}

i.fxk{list-sytle:none;vertical-align:middle;padding-left:100px;display:block;}
i.fxk li{float:left; list-style:none;display:block;}
/*i.fxk input{height:13px;float:left;}*/
i.fxk span{display:block;float:left;line-height:20px;margin-right:5px;}

/*----pop_header--------*/
.pop_0 , .pop_1 {overflow:hidden;margin:5px;border:1px solid #7DB9D1;}
.pop_1{width:650px; }
.pop_header{ position:relative;background:url(../../images/banner/pop_hearder_bg.gif) repeat-x;height:32px;line-height:32px;border-bottom:1px solid #7DB9D1;}
.pop_header i{background:url(../../images/banner/pop_hearder_ico.gif) no-repeat top left; display:block;padding-left:35px; font-weight:bold;}
.pop_header s{position:absolute;top:8px;right:5px;background:url(../../images/btn/cross.png) no-repeat;padding-left:20px;}

/*---------pop_index--------------*/
#sidebar2 {
	float: left; 
	width: 180px; /* 由于此元素是浮动的，因此必须指定宽度 */
	padding: 5px 0 0 0; /* 顶部和底部的填充将在该 div 中产生视觉空间 */
}
#mainContent2 {
	margin: 0 0 0 185px; 
} 
#header2{height:88px;background:url(../../images/hearder2_bg.gif) repeat-x;}
#banner2{height:88px;top:0;}

/*----人口服务------*/
#inquiry b a.xiug{background:url(../../images/btn/pencil.png) no-repeat left 8px;margin:0;padding:0;padding-left:20px;float:right;margin-right:10px;font-weight:normal;}
#inquiry b a.view{margin:0;padding:0;padding-left:20px;float:right;margin-right:10px;font-weight:normal;}
.main_PS #sidebar1{width:330px;margin:0;float:left;padding:3px;}
.main_PS #sidebar1 #inquiry{height:280px;width:100%;}
.main_PS #mainContent{margin: 0;padding:3px;height:99%;}

.main_PS #sidebar1{width:23.5%;}    .main_PS #mainContent{width:75%;float:right;}

.main_PS #mainContent #inquiry{width:100%;}


.tt_hidden {border:0px solid #CCCCCC; display: none;}
.nowidth{width: 60%; float: right;}
.hidediv {display: none;}

/*s.pop_No span{border:1px solid #CCC;margin:8px 2px 0;width:15px;height:15px; display:block;float:left;}*/
s.pop_No span{
    border: 1px solid #CCC;
    margin: 6px 2px 0;
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    padding: 0px 0px 1px 2px;
    font-size:12px; font-family:Tahoma;
}

s.pop_No span.text{border:none;width:40px;}
s.pop_No span.line{border:none;margin:8px 0 0;}

.input_btm {
	border:0;
	border-bottom:1px solid #ccc;
		color:#4a4a4a;
		font-size:12px;
}

/*--------portal_mao----------*/
.portal_top{background:url(../../images/portal_txt.png) no-repeat;width:410px;height:88px; display:block;margin-left:50px;}
.portal_righttop{ position:absolute;right:10px;top:10px;}
.portal_righttop b{color:#FFF; font-weight:normal;font-size: 12px;}
.portal_rightbottom{ position:absolute;right:10px;bottom:10px;}
.portal{float:left;}
.portal ul{border:1px solid #CFE6EF;background:#E6F2F7;margin:10px;position:relative;display:block; float:left;padding:10px 10px 10px 50px;}
.portal ul li{float:left;margin:3px 6px;width:85px;height:100px;}
.portal ul li.mao{position:absolute;top:-7px;left:-7px;width:113px;height:113px;margin:0;float:none;}
.portal ul li a{background:url(../../images/banner/portal_ico_bg1.gif) no-repeat;width:85px;height:100px;display:block;}
.portal ul li a:hover{background:url(../../images/banner/portal_ico_bg2.gif) no-repeat;}
.portal ul li a img , .portal_rightbottom a img {border:none;}
.portal ul li {margin-left: 30px;}

/*---------add for mdm --------*/
.mdm_page {
	/* border: 1px solid #e6e6e6; */
    height: 22px;
    line-height: 22px;
    padding: 1px 4px;
}
/*.section {margin:1px 1px 2px 1px;border:1px solid #BED5F3;position::relative;}*/
.section .header {background:#FFF url(../../images/section_bg.jpg) repeat-x;height:27px;text-align:right;line-height:26px;padding-right:4px;}
.section .header .title {float:left;height:21px;margin:2px 0px 0px 3px;line-height:21px;padding:0px 12px;background:url(../images/tab.jpg) repeat-x;border:1px solid #BED5F3;border-bottom:0px;border-radius:5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;font-weight: bold;}
.section .header a {float:right;margin-right:4px;}
.section .opucker, .section .pucker {height:17px;width:17px;display:block;margin:4px 0px 0px 4px;}
.section .opucker {background: url(../images/button.jpg) no-repeat 0px -34px;}
.section .opucker:hover {background: url(../images/button.jpg) no-repeat -17px -34px;}
.section .pucker {background: url(../images/button.jpg) no-repeat 0px -51px;}
.section .pucker:hover {background: url(../images/button.jpg) no-repeat -17px -51px;}
.section .content {margin:1px 2px 2px 2px;padding:0px;}
.tab_t {float:left;height:21px;display:block;margin: 2px 0px 0px 3px;line-height:21px;padding:0px 12px;background:url(../images/tab.jpg) repeat-x 0px 0px;border:1px solid #BED5F3;border-bottom:0px;border-radius:5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;cursor: pointer;}
.tab_t:hover {background-position:0px 21px;}
.link{background:CornflowerBlue;color:white;}

/*---------验证信息 --------*/
p#vtip {position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999;}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
input.input_validation-failed,textarea.input_validation-failed { border: 1px solid #ff0000!important;}
select.input_validation-failed,input[type=checkbox].input_validation-failed,input[type=radio].input_validation-failed,input[type=select].input_validation-failed{
outline-color:#ff0000!important;outline-style:solid!important;outline-width:1px!important;
}

/*-------advancedtable--可编辑表格-------*/
.advancedtable{margin:0 auto;padding:0;width:100%;table-layout:fixed;border-collapse:collapse;word-wrap:break-word;word-break:break-all;}
.advancedtable th{color:#4a4a4a;background:url(../images/eaittable_th.gif) no-repeat top right;height:30px;line-height:30px;border-bottom:1px solid #ddd;width: 100%;}
.advancedtable  th.zimu{background:url(../images/eaittable_th.gif) no-repeat bottom left; font-weight:normal;border-right:1px solid #DDD;}
.advancedtable   td {word-wrap:break-word;overflow:hidden;height:26px;line-height:26px;border-bottom:1px solid #DDD;border-right:1px solid #DDD;white-space: nowrap;width: 100%;}
.advancedtable tbody  td {word-wrap:break-word;overflow:hidden;height:26px;line-height:26px;border-bottom:1px solid #DDD;border-right:1px solid #DDD;white-space: nowrap;width: 100%;}
/*-------level---------*/
.infolevel1{background:url(../../images/level/1.png) no-repeat ;background-size:12px 12px;background-position:center;}
.infolevel2{background:url(../../images/level/2.png) no-repeat ;background-size:12px 12px;background-position:center;}
.infolevel3{background:url(../../images/level/3.png) no-repeat ;background-size:12px 12px;background-position:center;}
.infolevel4{background:url(../../images/level/4.png) no-repeat ;background-size:12px 12px;background-position:center;}