@charset "utf-8";
/* CSS Document */
/*-----------layout--------*/
#Container {
	height: 100%;
	width: 100%;
	font-size: 12px;
	margin: 0;
}

#Topmain {
	height: 55px;
	background: url(../../images/head_bg.gif) repeat-x top;
}

#Header {
	height: 80px;
	background: url(../../images/img_head.gif) no-repeat right top;
}

#LeftMenu {
	position: absolute;
    background-color:#e5f3fb;
	left: 0;
	top: 60px;
	bottom: 33px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.logo {
	background: url(../../images/img_logo.gif) no-repeat left top;
	height: 80px;
}

.username {
	color: #0063AE;
	font-weight: bold;
	text-decoration: underline;
}

.quika {
	color: #0063AE;
	font-weight: bold;
}

#SideBar {
	width: 196px;
	height: 100%;
	/* height:1000px; */
	vertical-align: top;
	margin: 0px auto;
	padding: 0px;
	border: 1px solid #dbdbdb;
}

#MainBody {
	vertical-align: top;
	background: #fff;
	border: 1px solid #dbdbdb;
}

#Main {
	padding: 0px 3px 3px 2px;
	position: absolute;
	left: 205px;
	top: 60px;
	bottom: 33px;
	right: 0px;
	overflow: auto;
}

#Footer {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #06729e;
	text-align:center;
	bottom: 0;
	color: #FFF;
	border-top: 1px solid #004F6F;
	position: absolute;
	left: 0;
	bottom: 0px;
}

.yuanl {
	background: url(../../images/yuanl.gif) no-repeat left center;
	width: 5px;
	height: 28px;
}

.yuanz {
	background: url(../../images/yuanz.gif) repeat-x left center;
	height: 28px;
}

.yuanr {
	background: url(../../images/yuanr.gif) no-repeat right center;
	width: 5px;
	height: 28px;
}
/*开关按钮样式*/
.SwitchBar {
	background: #ffffff;
    background:url(../../images/bg_loginbarh.gif) repeat-y;
	vertical-align: middle;
	position: absolute;
	left: 200px;
	top: 60px;
	width: 8px;
	bottom: 33px;
	overflow: hidden;
}

.SwitchBar a {
	display: block;
	width: 5px;
	height: 51px;
	background: url(../../images/blue-icon.gif) center no-repeat;
	position: relative;
	top: 50%;
}

.SwitchBar a.open {
	display: block;
	width: 5px;
	height: 51px;
	background: url(../../images/blue-icon-2.gif) center no-repeat;
	position: relative;
	top: 50%;
}

#Loginbar {
	background: url(../../images/bg_loginbar.gif) repeat-x;
	height: 8px;
	text-align: center;
}

#loginTable {
	margin-top: 0;
	width: 98%;
	background: url(../../images/bg_loginbar.gif) repeat-x;
	height: 22px;
}

#Loginbar p.left {
	float: left;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
}

#Loginbar p.right {
	float: right;
	height: 28px;
	line-height: 28px;
	padding-right: 10px;
}

#Loginbar img {
	padding-right: 2px;
	vertical-align: middle;
}

#Loginbar p span img {
	padding-left: 5px;
	padding-right: 5px;
}

#Loginbar .right a:link,#Loginbar .right a:visited,#Loginbar a:hover,#Loginbar a:active
	{
	color: #4a4a4a;
	text-decoration: none;
}

.deleteimg {
	width: 15px;
	height: 20px;
	cursor: pointer;
}
/*------------- 2012-04-18 index2 CSS --------------*/
/*更改或新增的样式*/
#main {
	padding: 5px;
}

#rightmain {
	width: 300px;
	height: 100%;
	vertical-align: top;
	margin: 0px auto;
	padding: 0px;
}

.icongg,.iconyy,.icontx,.iconjf {
	background: url(../../images/icon_img.gif) no-repeat;
	float: left;
	margin-right: 5px;
	margin-top: 3px
}

.btnjf,.itgtxt p.right {
	background: url(../../images/icon_img.gif) no-repeat;
}

.icongg {
	background-position: -95px 0px;
	width: 16px;
	height: 16px;
}

.iconyy {
	background-position: -22px 0px;
	width: 16px;
	height: 16px;
}

.icontx {
	background-position: 0px 0px;
	width: 18px;
	height: 18px;
}

.iconjf {
	background-position: -42px 0px;
	width: 16px;
	height: 16px;
}

.leftbox {
	border: 1px solid #afc9e5;
	margin-bottom: 5px;
	margin-top: -1px;
	background: url(../images/index_line.gif) repeat-x bottom #FFF;
	height: 100%;
}

.leftbox li {
	list-style: none;
	line-height: 21px;
	height: 21px;
	border-bottom: 1px solid #eceef0;
	margin: 0px 5px;
}

.usersmsg {
	margin: 20px 20px 10px 20px;
}

.usersmsg li {
	border: 0;
	height: 26px;
	line-height: 26px;
}

.usersmsg li b {
	text-align: right;
	color: #6e6e6e;
	width: 60px;
	margin-right: 5px;
}

.btnpost {
	width: 100%;
	margin-left: 10px;
}

.btnjf {
	background-position: 0px -23px;
	width: 136px;
	height: 30px;
	border: 0;
	color: #8e5914;
	font-weight: bold;
	line-height: 34px;
	padding-right: 10px;
}

.itgtxt {
	margin: 20px 0px 20px 20px;
}

.itgtxt p.left,.itgtxt p.right {
	float: left;
}

.itgtxt p.left b {
	color: #F00;
	margin: 0px 5px;
}

.itgtxt p.right {
	background-position: -62px 0px;
	width: 30px;
	height: 20px;
	margin-top: -3px;
}

body.twocolfixrthdr {
	background: #EBEBEB;
}

.twocolfixrthdr #container {
	background: #FFFFFF;
	margin: 0 auto; /* 自动边距（与宽度一起）会将页面居中 */
	text-align: left; /* 这将覆盖 body 元素上的“text-align: center”。 */
	min-width: 1100px;
	position: relative;
}

.twocolfixrthdr #sidebar1 {
	float: right; /* 由于此元素是浮动的，因此必须指定宽度 */
	width: 180px;
	/* 在符合标准的浏览器中或者在 Internet Explorer 中的标准模式下，此 div 的实际宽度除了包括宽度外，还包括填充和边框 */
	padding: 0;
	margin: 6px 0;
}

.twocolfixrthdr #mainContent {
	margin: 0 182px 0 0;
	/* 此 div 元素的右边距会在页面的右下方创建栏 — 无论 sidebar1 div 中包含多少内容，都将保留栏空白。如果您希望在 #sidebar1 中的内容结束时，用 #mainContent div 的文本填充 #sidebar1 空白，则可以删除此边距。 */
	padding: 0 6px; /* 请记住，填充是 div 方块内部的空间，边距则是 div 方块外部的空间 */
}

.twocolfixrthdr #footer {
	padding: 0 10px 0 20px; /* 此填充会将它上面 div 中的所有元素左对齐。 */
	background: #DDDDDD;
}

.twocolfixrthdr #footer p {
	margin: 0; /* 将脚注中第一个元素的边距设置为零将避免出现可能的边距重叠（即 div 之间出现的空白）*/
	padding: 10px 0; /* 就像边距会产生空白一样，此元素上的填充也将产生空白，但不会出现边距重叠问题 */
}

.clearfloat { /* 此类应当放在 div 或 break 元素上，而且该元素应当是完全包含浮动的容器关闭之前的最后一个元素 */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

#header {
	background: url(../../images/image/top_bg.gif) repeat-x;
	height: 125px;
}

#header i {
	background: url(../../images/image/top_name.gif) no-repeat 0px 0px;
	width: 546px;
	height: 37px;
	left: 20px;
	position: absolute;
	display: block;
}

#header s {
	background: url(../../images/image/top_out.gif) no-repeat;
	width: 60px;
	height: 22px;
	position: absolute;
	top: 6px;
	right: 30px;
}

#header b {
	position: absolute;
	top: 10px;
	right: 120px;
	color: #FFF;
	font-weight: normal;
}

#banner {
	position: absolute;
	height: 70px;
	top: 37px;
	left: 0px;
	right: 0px;
	padding: 0px 0px 0px 0px;
	color: #4a4a4a;
	min-width: 1100px;
}

#banner A {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	height: 38px;
	display: block;
	float: left;
	cursor: pointer;
}

#banner span a.ba01 {
	background: url(../../images/image/biao_01.gif) no-repeat;
	width: 99px;
}

#banner span a.ba02 {
	background: url(../../images/image/biao_02.gif) no-repeat;
	width: 98px;
}

#banner span a.ba03 {
	background: url(../../images/image/biao_03.gif) no-repeat;
	width: 99px;
}

#banner span a.ba04 {
	background: url(../../images/image/biao_04.gif) no-repeat;
	width: 99px;
}

#banner span a.ba05 {
	background: url(../../images/image/biao_05.gif) no-repeat;
	width: 99px;
}

#banner span a.ba06 {
	background: url(../../images/image/biao_06.gif) no-repeat;
	width: 98px;
}

#banner span a.ba07 {
	background: url(../../images/image/biao_07.gif) no-repeat;
	width: 99px;
}

#banner span a.ba08 {
	background: url(../../images/image/biao_08.gif) no-repeat;
	width: 99px;
}

#banner span a.ba09 {
	background: url(../../images/image/biao_09.gif) no-repeat;
	width: 98px;
}

#banner span a.ba10 {
	background: url(../../images/image/biao_10.gif) no-repeat;
	width: 99px;
}

#banner span a.ba11 {
	background: url(../../images/image/biao_11.gif) no-repeat;
	width: 99px;
}

#banner span a.ba12 {
	background: url(../../images/image/biao_12.gif) no-repeat;
	width: 98px;
}

#banner span a.ba13 {
	background: url(../../images/image/biao_13.gif) no-repeat;
	width: 99px;
}

#banner span a.ba14 {
	background: url(../../images/image/biao_14.gif) no-repeat;
	width: 99px;
}

#banner span a.ba15 {
	background: url(../../images/image/biao_15.gif) no-repeat;
	width: 99px;
}

#banner span a.ba16 {
	background: url(../../images/image/biao_16.gif) no-repeat;
	width: 98px;
}

#banner span a.ba17 {
	background: url(../../images/image/biao_17.gif) no-repeat;
	width: 99px;
}

#banner span a.ba18 {
	background: url(../../images/image/biao_18.gif) no-repeat;
	width: 99px;
}

#banner span a.ba01:hover,#banner span a.ba01:focus {
	background: url(../../images/image/biao_hover_01.gif) no-repeat;
	width: 99px;
}

#banner span a.ba02:hover,#banner span a.ba02:focus {
	background: url(../../images/image/biao_hover_02.gif) no-repeat;
	width: 98px;
}

#banner span a.ba03:hover,#banner span a.ba03:focus {
	background: url(../../images/image/biao_hover_03.gif) no-repeat;
	width: 99px;
}

#banner span a.ba04:hover,#banner span a.ba04:focus {
	background: url(../../images/image/biao_hover_04.gif) no-repeat;
	width: 99px;
}

#banner span a.ba05:hover,#banner span a.ba05:focus {
	background: url(../../images/image/biao_hover_05.gif) no-repeat;
	width: 99px;
}

#banner span a.ba06:hover,#banner span a.ba06:focus {
	background: url(../../images/image/biao_hover_06.gif) no-repeat;
	width: 98px;
}

#banner span a.ba07:hover,#banner span a.ba07:focus {
	background: url(../../images/image/biao_hover_07.gif) no-repeat;
	width: 99px;
}

#banner span a.ba08:hover,#banner span a.ba08:focus {
	background: url(../../images/image/biao_hover_08.gif) no-repeat;
	width: 99px;
}

#banner span a.ba09:hover,#banner span a.ba09:focus {
	background: url(../../images/image/biao_hover_09.gif) no-repeat;
	width: 98px;
}

#banner span a.ba10:hover,#banner span a.ba10:focus {
	background: url(../../images/image/biao_hover_10.gif) no-repeat;
	width: 99px;
}

#banner span a.ba11:hover,#banner span a.ba11:focus {
	background: url(../../images/image/biao_hover_11.gif) no-repeat;
	width: 99px;
}

#banner span a.ba12:hover,#banner span a.ba12:focus {
	background: url(../../images/image/biao_hover_12.gif) no-repeat;
	width: 98px;
}

#banner span a.ba13:hover,#banner span a.ba13:focus {
	background: url(../../images/image/biao_hover_13.gif) no-repeat;
	width: 99px;
}

#banner span a.ba14:hover,#banner span a.ba14:focus {
	background: url(../../images/image/biao_hover_14.gif) no-repeat;
	width: 99px;
}

#banner span a.ba15:hover,#banner span a.ba15:focus {
	background: url(../../images/image/biao_hover_15.gif) no-repeat;
	width: 99px;
}

#banner span a.ba16:hover,#banner span a.ba16:focus {
	background: url(../../images/image/biao_hover_16.gif) no-repeat;
	width: 98px;
}

#banner span a.ba17:hover,#banner span a.ba17:focus {
	background: url(../../images/image/biao_hover_17.gif) no-repeat;
	width: 99px;
}

#banner span a.ba18:hover,#banner span a.ba18:focus {
	background: url(../../images/image/biao_hover_18.gif) no-repeat;
	width: 99px;
}

/*左边菜单样式*/
#sidemenuwrapper {
	width: 200px;
	/*//border: 1px solid #CCC;*/
}

.sidebartop {
	background: #FFF url(../../images/menu.jpg) no-repeat 0px -219px;
	height: 43px;
}

.sidemenu {
	padding: 1px;
	margin: 0 auto;
	cursor: pointer;
}

.sidemenu * {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.sidemenulist span {
	font-style: normal;
	font-weight: bold;
	width: 100%;
	display: block;
	cursor: pointer;
	color: #004376;
	text-decoration: none;
}

.sidemenulist a {
	color: #4A4A4A;
	text-decoration: none;
	font-size: 12px;
	display: block;
	font-weight: normal;
}

.sidemenulist .active {
	background: #498ACE !important;
}

.sidemenulist .active a {
	color: #FFFFFF !important;
	font-weight: bold;
}

.sidemenulist li.sidemenu01.collapsable {
	background: url(../../images/menu.jpg) no-repeat 0px -35px;
}

.sidemenulist li.sidemenu01.expandable {
	background: url(../../images/menu.jpg) no-repeat 0px 0px;
}

.sidemenulist span.sidemenu01 {
	text-indent: 28px;
	height: 35px;
	line-height: 35px;
	width: 100%;
}

.sidemenulist li ul li.sidemenu02.collapsable {
	background: url(../../images/menu.jpg) no-repeat 0px -101px;
}

.sidemenulist li ul li.sidemenu02.expandable {
	background: url(../../images/menu.jpg) no-repeat 0px -70px;
}

.sidemenulist li ul li span.sidemenu02 {
	text-indent: 41px;
	color: #4A4A4A;
	font-weight: normal;
	vertical-align: middle;
	height: 31px;
	line-height: 31px;
	width: 100%;
}

.sidemenulist li ul li.sidemenu022 {
	background: url(../../images/menu.jpg) no-repeat 0px -188px;
}

.sidemenulist li ul li span.sidemenu022 {
	text-indent: 18px;
	width: 100%;
	height: 31px;
	line-height: 31px;
}

.sidemenulist li ul li.sidemenu022.active {
	background: url(../../images/menu.jpg) no-repeat 0px -188px;
}

.sidemenulist li ul li.sidemenu022 a {
	color: #4A4A4A;
	width: 100%;
	text-indent: 41px;
}

.sidemenulist li ul li ul li.sidemenu03 {
	background: url(../../images/menu.jpg) no-repeat 0px -132px;
	text-indent: 55px;
	height: 28px;
	text-overflow: ellipsis;
    overflow: hidden;
}

.sidemenulist li ul li ul li.sidemenu03 a {
	color: #4A4A4A;
	height: 28px;
	line-height: 28px;
}

.sidemenulist li ul li ul li.sidemenu03 a:hover {
	background: url(../../images/menu.jpg) no-repeat 0px -160px;
	color: #0066B1 !important;
}

.shortCut ul li {
	list-style-type: none;
	display: inline;
	padding-right: 25px;
}

/*------------pop_layout.css----------------*/
#header_pop {
	height: 38px;
	/* background: url(../../images/hearder3_bg.jpg) repeat-x; */
    margin: 1px;
	position: relative;
}

#header_pop #banner {
	top: 0;
}

#banner span a.popba01 {
	background: url(../../images/banner/pop_banner_01.gif) no-repeat;
	width: 99px;
}

#banner span a.popba02 {
	background: url(../../images/banner/pop_banner_02.gif) no-repeat;
	width: 98px;
}

#banner span a.popba03 {
	background: url(../../images/banner/pop_banner_03.gif) no-repeat;
	width: 99px;
}

#banner span a.popba04 {
	background: url(../../images/banner/pop_banner_04.gif) no-repeat;
	width: 99px;
}

#banner span a.popba05 {
	background: url(../../images/banner/pop_banner_05.gif) no-repeat;
	width: 99px;
}

#banner span a.popba06 {
	background: url(../../images/banner/pop_banner_06.gif) no-repeat;
	width: 98px;
}

#banner span a.popba01:hover,#banner span a.popba01:focus {
	background: url(../../images/banner/pop_banner_hoer01.gif) no-repeat;
	width: 99px;
}

#banner span a.popba02:hover,#banner span a.popba02:focus {
	background: url(../../images/banner/pop_banner_hoer02.gif) no-repeat;
	width: 98px;
}

#banner span a.popba03:hover,#banner span a.popba03:focus {
	background: url(../../images/banner/pop_banner_hoer03.gif) no-repeat;
	width: 99px;
}

#banner span a.popba04:hover,#banner span a.popba04:focus {
	background: url(../../images/banner/pop_banner_hoer04.gif) no-repeat;
	width: 99px;
}

#banner span a.popba05:hover,#banner span a.popba05:focus {
	background: url(../../images/banner/pop_banner_hoer05.gif) no-repeat;
	width: 99px;
}

#banner span a.popba06:hover,#banner span a.popba06:focus {
	background: url(../../images/banner/pop_banner_hoer06.gif) no-repeat;
	width: 98px;
}
/*-------------*/
#ehrbrowser_main {
	position: relative;
	background-color: #fff;
	height: 100%;
	font-size: 12px;
    margin: 5px;
    /* border: 1px solid #d1d8e1; */
}
#side {
	float: left;
	width: 210px;
}

#content {
	position: absolute;
	right: 1px;
	left: 228px;
    margin-top: -10px;
}

/*-------------*/
#side {
	padding-left: 2px;
    margin-top: 0px;
    left: 1px;
}

#side table {
	background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

#side table td {
	line-height: 22px;
}
.headbg{
    width: 80px;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
    margin-right: 10px;
}

.poptab {
	border: 0px solid #CCC;
	clear: both;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	width: 100%;
}

#side .menubox {
	float: left;
	width: 20px;
	border-top: 0px solid #CCC;
	height: auto;
}

#side .menubox ul {
	margin-top: 2px;
}

#side .menubox li {
	clear: both;
	width: 20px;
	border: 1px solid #CCC;
	height: auto;
	line-height: 18px;
	padding: 5px 0;
	background: #FFF;
}

#side .menubox li.hover {
	width: 20px;
	line-height: 18px;
	background: #e6e6e6;
}

#side .contentbox {
	clear: none;
	width: 177px;
	border: none;
	border: 0px solid red;
	padding: 0;
	float: right;
	margin-top: 0;
}

#content ul.addgrtext {
	float: none;
	width: auto;
}

#content .addgrtext table {
	width: 100%;
}

#content ul.addgrtext b {
	clear: both;
	width: 100%;
	font-size: 24px;
	text-align: center;
	display: block;
}

