@charset "utf-8";
/* CSS Document */
/*登录页面*/
#login_bg   { width:100%; background:url(../../images/login_bg.gif) repeat-x #6BC4E1 top;}
.title_txt  {padding-top:8%;}
.login_lbg  {height:221px; z-index:1; margin-top:5%; width:100%;}
.login_conbg{ background:url(../../images/login_conbg.png) no-repeat;  width:500px;  z-index:2;  height:260px; margin:0 auto;  margin-top:-257px; padding:20px;}
.logo_bg    {margin-left:20px; margin-bottom:20px; }
.table_login{ width:96%; background:none; border:0; }
.table_login td{ padding:10px 0px 0px 10px;}
.input_login  { border:1px solid #92a2b3; height:18px; line-height:18px; width:190px;}
.input_login02{ border:1px solid #92a2b3; height:18px; line-height:18px; width:96px;}
.table_login img { vertical-align:bottom; }
.login_txt:link    {COLOR: #2f2f2f; TEXT-DECORATION: none; text-decoration:underline;}
.login_txt:visited {COLOR: #2f2f2f; TEXT-DECORATION: none}
.login_txt:hover   {COLOR: #005AC1; TEXT-DECORATION: none}
.btn_login{ background:url(../../images/btn/btn_login1.gif) no-repeat; width:98px; height:29px; border:0px;cursor: pointer;}
