#healthExamCover tr{
	height: 35px;
	font-size: 120%;
	padding-top: 10px;
}

#reportDialog > div {
	text-align: left;
	margin:0px 10px;
}

.resultTable {
	border: 1px solid #ccc;
}

.resultTable th{
	width: 20%;
	height: 40px;
	border: 1px solid #ccc;
}

.resultTable td{
	width: 80%;
	height: 40px;
	border: 1px solid #ccc;
}

.resultTable td textarea{
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: left;
	text-indent: 2em;
}

.footInfoDiv {
	padding: 5px;
	text-align: right;
}

h4 {background: #EEE;height:30px;line-height:30px;padding:2px;border:1px solid #DDD;border-bottom-color:#bbb;font-weight: normal;}
h4 img {margin:auto 5px;}
h4 font {float:right;color: #ccc;}
dl.reportinfodiv {
    margin-bottom:50px;
    margin-left: 50px;
}
dl.reportinfodiv h1 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
/* dl.reportinfodiv dt { */
/*     background:#eeeeee; */
/*     color:#4a4a4a; */
/*     float:left; */
/*     font-weight:bold; */
/*     margin-right:10px; */
/*     padding:5px; */
/*     width:80px; */
/*     text-align: justify; */
/*     text-justify: distribute-all-lines; */
/*     text-align-last: justify; */
/* } */
/* dl.reportinfodiv dd { */
/*     margin:5px 0; */
/*     padding:5px 0; */
/*     border-bottom: 1px solid #000; */
/*     width:75%; */
/* } */

.dt {
	background:#eeeeee;
    color:#4a4a4a;
    font-size: 14px;
    font-weight:bold;
    width:80px;
	padding-left:5px;
	padding-right:5px;
	border-bottom: 1px solid #666;
}
.dd{
	margin:5px 0;
    padding:5px 0;
    border-bottom: 1px solid #666;
	}